.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-left: 10px;
  border-radius: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  height: 75px;
  text-align: center;
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
li {
  list-style: none;
}

.CardContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  border: 3px solid black;
  text-align: center;
  border-radius: 20px;
  transition: 0.5s;
}
.Main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 18rem;
  border-radius: 20px;
}

.cards-container:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 10rem;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 10px;
}

h1 {
  font-size: 2.1rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

p {
  margin-top: 10px;
  width: 250px;
  text-align: center;
}
