/* *{
  outline: 1px red solid;
} */
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-left: 10px;
  border-radius: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  height: 75px;
  text-align: center;
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
li {
  list-style: none;
}

.CardContainer {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-top: 40px;
}

.card {
  width: 18rem;
  border: 3px black solid;
  text-align: center;
  transition: 0.5s;
}
.card:hover {
  transform: translateY(-10px);
}
img {
  height: 10rem;
}
a {
  text-align: center;
}

.restaurant {
  border: 1px rgba(1, 1, 1, 0.2) solid;
  margin: 3rem 6rem 6rem 7.5rem;
}

.orderList,
h3 {
  padding: 20px;
  font-weight: bold;
  font-size: larger;
}
h3 {
  font-weight: bold;
  font-size: 2.6rem;
}

#addButton {
  margin: 0rem 0 1rem 19rem;
}
i {
  margin-left: 1rem;
  color: black;
}
.buttonList {
  border: 1px rgba(0, 0, 0, 0.463) solid;
  padding: 5px 0 0 20px;
}

.restaurant {
  display: flex;
  justify-content: space-between;
}


.advertisementLis {
  border-left: 1px rgba(0, 0, 0, 0.463) solid;
  padding-left: 20px;
}
